
        table {
            
            width: 90%;
            margin: auto;
           
           border-spacing: 5mm;
            table-layout:auto ;
        }

        caption {
            
            font-size: 2.5em;
            background-color: darksalmon;
            color: maroon;
            border-radius: 50%;
            box-shadow: black 9px 12px 2px 3px;
            width: 60%;
            margin: 0.5cm auto 1em;
            border: 60px, 60px;
            table-layout: fixed;

        }

        thead {
            
            empty-cells: hide;
            
            background-color: lightgreen;
            color: darkslategray;
        }

        tbody {
            
            border-radius: 2px;
            background-color: wheat;
            color: brown;
         
        }

        tfoot {
            
            empty-cells: hide;
            background-color: lightskyblue;
            color: blue;
        }

        th {
            box-shadow: 5px 2px 2px 2px black;

            font-weight: bolder;
            width: 5%;
            height: 1.6em;
           
            border-radius: 10px;
        }

        td {
            border-radius: 10px;
            box-shadow: 5px 2px 2px 2px grey;
            height: 1cm;
            width:6%;
            text-align: center;
            font-style: italic;
        }

body {
    background-image: url(unnamed.jpg);
    background-size: 100%;


}

ol {
    list-style-type: upper-roman;
    text-align: center;
    list-style-position: inside;
}



       
